name: ML CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Get the code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2️⃣ Set up Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # 3️⃣ Install dependencies
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # 4️⃣ Run tests (CI)
    - name: Run tests
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        pytest

    # ================== CD PART ==================

    # 5️⃣ Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 6️⃣ Build Docker image
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/ml-ci-cd:${{ github.sha }} .

    # 7️⃣ Push Docker image
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/ml-ci-cd:${{ github.sha }}
